<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!--<add name="ConnectionString" connectionString="Data Source=192.168.5.60;Initial Catalog=ssd_smartcard;Persist Security Info=True;User ID=smartcard;Password=XdremzGQVqWNpMlzzjhgpw==;" providerName="System.Data.SqlClient" />-->
		<!--<add name="ConnectionString" connectionString="Persist Security Info=True;User ID=ems_users;Password=pFcQb7l4TnJQfO1mRwrowg==;Initial Catalog=ePAS;Data Source=172.20.34.132;"  providerName="System.Data.SqlClient" />-->
		<add name="ConnectionString" connectionString="Data Source=DENNIS-LAPTOP\SQL2019;Initial Catalog=SSD_ePAS_Dev;Persist Security Info=True;User ID=DZsl71wzplc=;Password=HisZV4Dt7+E=;" providerName="System.Data.SqlClient"/>
		<add name="ConnectionStringServer" connectionString="Data Source=DENNIS-LAPTOP\SQL2019;Initial Catalog=SSD_ePAS_Dev;Persist Security Info=True;User ID=DZsl71wzplc=;Password=HisZV4Dt7+E=;" providerName="System.Data.SqlClient"/>
		<!--<add name="ConnectionString" connectionString="Data Source=124.105.22.141,49252\SQLEXPRESS2005;Initial Catalog=xTransCom_MVR_Test;Persist Security Info=True;User ID=sa;Password=HisZV4Dt7+E=;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Initial Catalog=xxxx;Data Source=xxxx;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="DeviceName" value="ACR1222L"/>
		<add key="COMPort" value=""/>
		<add key="COMEnabled" value="FALSE"/>
		<add key="Devices" value="ACR1222L-FALSE"/>

		<add key="SiteName" value="Default"/>
		<add key="ConcessionaireName" value="Default"/>
		<add key="TerminalID" value="Default"/>

		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="KioskMode" value="FALSE"/>
		<add key="Charge" value="FALSE"/>
		<add key="PrinterPort" value="COM1"/>
		<add key="PrinterBaudRate" value="115200"/>
		<add key="SSD" value="TRUE"/>
		<add key="AutoPrint" value="FALSE"/>
		<add key="UseLocalDB" value="FALSE" />
		<!--Default is TRUE. Disable if connecting to a server dB only-->
		<add key="UseServerDB" value="TRUE" />
		<!--Default is FALSE. Enable if connecting to a server db too, this is ignored if UseLocalDB is FALSE-->
		<!--To connect to LocalDB only: UseLocalDB = TRUE, UseServerDB = FALSE-->
		<!--To connect to LocalDB and servers:  UseLocalDB = TRUE, UseServerDB = TRUE-->
		<!--To connect to servers:      UseLocalDB = FALSE, UseServerDB is ignored-->
		<add key="UseCloud" value="FALSE" />
	</appSettings>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
